<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>5BEFE8D6-17C0-43D4-ABFC-8E453E7FE722</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C3CE9EC-5C26-422C-8D3A-1897D275B343</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A7877633-DCEB-4327-8324-5CAE16D923EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1C18773-241E-46DD-959E-5140E67CA51C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D22EC9E3-E06F-466B-B6A9-F79AD4F32044</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9246728-BFD8-471B-A078-737A94139D4D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Zoom Stuff</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Zoom</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>zoommtg://zoom.us/start?confno=3441648403</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C9246728-BFD8-471B-A078-737A94139D4D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>zm</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>starts a zoom meeting</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D22EC9E3-E06F-466B-B6A9-F79AD4F32044</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>zm</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>joins a zoom meeting</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5BEFE8D6-17C0-43D4-ABFC-8E453E7FE722</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>zoommtg://zoom.us/join?confno={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4C3CE9EC-5C26-422C-8D3A-1897D275B343</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>zmp</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>copies your personal url to the clipboard</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A7877633-DCEB-4327-8324-5CAE16D923EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>https://github.zoom.us/j/3441648403</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D1C18773-241E-46DD-959E-5140E67CA51C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>4C3CE9EC-5C26-422C-8D3A-1897D275B343</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>5BEFE8D6-17C0-43D4-ABFC-8E453E7FE722</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>A7877633-DCEB-4327-8324-5CAE16D923EC</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>C9246728-BFD8-471B-A078-737A94139D4D</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>D1C18773-241E-46DD-959E-5140E67CA51C</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>D22EC9E3-E06F-466B-B6A9-F79AD4F32044</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
